In [1]:
from random import choice as random_choice
from pandas import DataFrame as Table
from functools import reduce
from collections import Counter as CounterDictionary

In [2]:
w = 'ABCDEF'
ITEMS = set([ w[i] for i in range(len(w)) ])

In [3]:
ITEMS

{'A', 'B', 'C', 'D', 'E', 'F'}

In [4]:
N = 20
MIN_SAMPLES = 3
MAX_SAMPLES = 10

In [5]:
TD_AS_LIST = [ set([ random_choice(tuple(ITEMS)) for _ in range(random_choice(range(MIN_SAMPLES, MAX_SAMPLES)))]) for _ in range(N)  ]
TD_AS_DICTIONARY = { frozenset(s): len(list(filter(lambda x: x == s,  TD_AS_LIST)))  for s in TD_AS_LIST  }

In [6]:
TD_AS_LIST

[{'A', 'B', 'F'},
 {'A', 'B', 'C'},
 {'A', 'B'},
 {'C', 'D', 'E', 'F'},
 {'C', 'E', 'F'},
 {'A', 'B', 'C', 'D', 'F'},
 {'A', 'B', 'C', 'E', 'F'},
 {'B', 'C', 'D', 'E', 'F'},
 {'A', 'C', 'F'},
 {'A', 'C', 'F'},
 {'A', 'B', 'D'},
 {'A', 'B', 'D', 'E', 'F'},
 {'A', 'B', 'D', 'E', 'F'},
 {'B', 'C', 'D'},
 {'B', 'D'},
 {'A', 'B', 'C', 'D'},
 {'B', 'D', 'E', 'F'},
 {'A', 'B', 'C', 'D', 'E', 'F'},
 {'A', 'B', 'D', 'E', 'F'},
 {'A', 'B', 'C', 'D'}]

In [7]:
TD_AS_DICTIONARY

{frozenset({'A', 'B', 'F'}): 1,
 frozenset({'A', 'B', 'C'}): 1,
 frozenset({'A', 'B'}): 1,
 frozenset({'C', 'D', 'E', 'F'}): 1,
 frozenset({'C', 'E', 'F'}): 1,
 frozenset({'A', 'B', 'C', 'D', 'F'}): 1,
 frozenset({'A', 'B', 'C', 'E', 'F'}): 1,
 frozenset({'B', 'C', 'D', 'E', 'F'}): 1,
 frozenset({'A', 'C', 'F'}): 2,
 frozenset({'A', 'B', 'D'}): 1,
 frozenset({'A', 'B', 'D', 'E', 'F'}): 3,
 frozenset({'B', 'C', 'D'}): 1,
 frozenset({'B', 'D'}): 1,
 frozenset({'A', 'B', 'C', 'D'}): 2,
 frozenset({'B', 'D', 'E', 'F'}): 1,
 frozenset({'A', 'B', 'C', 'D', 'E', 'F'}): 1}

In [8]:
def transaction_dataset(s):
    return TD_AS_DICTIONARY[frozenset(s)] if frozenset(s) in TD_AS_DICTIONARY else 0

In [9]:
ITEM_LIST = list(ITEMS)
ITEM_LIST.sort()

In [10]:
TD_AS_TABLE = Table([{ item: item in transaction  for item in list(ITEM_LIST)    }  for transaction in TD_AS_LIST])

In [11]:
[{ item: item in transaction  for item in list(ITEM_LIST)    }  for transaction in TD_AS_LIST]

[{'A': True, 'B': True, 'C': False, 'D': False, 'E': False, 'F': True},
 {'A': True, 'B': True, 'C': True, 'D': False, 'E': False, 'F': False},
 {'A': True, 'B': True, 'C': False, 'D': False, 'E': False, 'F': False},
 {'A': False, 'B': False, 'C': True, 'D': True, 'E': True, 'F': True},
 {'A': False, 'B': False, 'C': True, 'D': False, 'E': True, 'F': True},
 {'A': True, 'B': True, 'C': True, 'D': True, 'E': False, 'F': True},
 {'A': True, 'B': True, 'C': True, 'D': False, 'E': True, 'F': True},
 {'A': False, 'B': True, 'C': True, 'D': True, 'E': True, 'F': True},
 {'A': True, 'B': False, 'C': True, 'D': False, 'E': False, 'F': True},
 {'A': True, 'B': False, 'C': True, 'D': False, 'E': False, 'F': True},
 {'A': True, 'B': True, 'C': False, 'D': True, 'E': False, 'F': False},
 {'A': True, 'B': True, 'C': False, 'D': True, 'E': True, 'F': True},
 {'A': True, 'B': True, 'C': False, 'D': True, 'E': True, 'F': True},
 {'A': False, 'B': True, 'C': True, 'D': True, 'E': False, 'F': False},
 {'A': False, 'B': True, 'C': False, 'D': True, 'E': False, 'F': False},
 {'A': True, 'B': True, 'C': True, 'D': True, 'E': False, 'F': False},
 {'A': False, 'B': True, 'C': False, 'D': True, 'E': True, 'F': True},
 {'A': True, 'B': True, 'C': True, 'D': True, 'E': True, 'F': True},
 {'A': True, 'B': True, 'C': False, 'D': True, 'E': True, 'F': True},
 {'A': True, 'B': True, 'C': True, 'D': True, 'E': False, 'F': False}]

In [14]:
l = ['A']
TD_AS_TABLE[l[0]]

0      True
1      True
2      True
3     False
4     False
5      True
6      True
7     False
8      True
9      True
10     True
11     True
12     True
13    False
14    False
15     True
16    False
17     True
18     True
19     True
Name: A, dtype: bool

In [12]:
TD_AS_TABLE

        A      B      C      D      E      F
0    True   True  False  False  False   True
1    True   True   True  False  False  False
2    True   True  False  False  False  False
3   False  False   True   True   True   True
4   False  False   True  False   True   True
5    True   True   True   True  False   True
6    True   True   True  False   True   True
7   False   True   True   True   True   True
8    True  False   True  False  False   True
9    True  False   True  False  False   True
10   True   True  False   True  False  False
11   True   True  False   True   True   True
12   True   True  False   True   True   True
13  False   True   True   True  False  False
14  False   True  False   True  False  False
15   True   True   True   True  False  False
16  False   True  False   True   True   True
17   True   True   True   True   True   True
18   True   True  False   True   True   True
19   True   True   True   True  False  False

In [207]:
def support(td, tr):
    return reduce(lambda x, y: x & y, [td[it] for it in tr]).mean()

In [214]:
EPSILON= 0.25

In [224]:
def next_candidates(itemsets):
    if len(itemsets) == 0: return set()
    r = set()
    k = len(list(itemsets)[0])
    for its in itemsets:
        nns = set(filter(lambda x: len(its.difference(x)) == 1, itemsets)) # nns: nearest neighbours
        nn_diff = [list(nn.difference(its))[0] for nn in nns]
        nn_diff_count = CounterDictionary(nn_diff).items()
        extensions = frozenset([frozenset([pair[0]]) for pair in list(filter(lambda pair: pair[1] == k, nn_diff_count))])
        for singleton in extensions: r.add( frozenset(its.union(singleton)))
    return r

In [225]:
def apriori(td, epsilon):
    fi = set()
    items = set(td.columns)
    candidates = set([frozenset([it]) for it in items])
    condition = True
    while(condition):
        fi_k = set( filter(lambda x: support(td, x) >= epsilon , candidates) )
        fi = fi.union(fi_k)
        candidates = next_candidates(fi_k)
        condition = len(candidates) > 0
    return fi

In [226]:
apriori(TD_AS_TABLE, EPSILON)

{frozenset({'F'}),
 frozenset({'A', 'B'}),
 frozenset({'A', 'B', 'F'}),
 frozenset({'E', 'F'}),
 frozenset({'A', 'D'}),
 frozenset({'E'}),
 frozenset({'C', 'E'}),
 frozenset({'B'}),
 frozenset({'B', 'D'}),
 frozenset({'B', 'E'}),
 frozenset({'A', 'B', 'D'}),
 frozenset({'B', 'E', 'F'}),
 frozenset({'A', 'B', 'E'}),
 frozenset({'D', 'F'}),
 frozenset({'B', 'D', 'F'}),
 frozenset({'A'}),
 frozenset({'A', 'C'}),
 frozenset({'D'}),
 frozenset({'D', 'E'}),
 frozenset({'A', 'D', 'E'}),
 frozenset({'A', 'F'}),
 frozenset({'A', 'D', 'F'}),
 frozenset({'B', 'F'}),
 frozenset({'A', 'E', 'F'}),
 frozenset({'C'}),
 frozenset({'A', 'B', 'D', 'F'}),
 frozenset({'C', 'F'}),
 frozenset({'A', 'E'}),
 frozenset({'A', 'B', 'E', 'F'})}